body{
  background-image: -webkit-linear-gradient(90deg, #013A6B 50%, #004E95 50%);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;

}

.App>button{
  width: 300px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
.App>h1{
  border: 1px solid lightgray;
  width: 100px;
  background-color: black;
  color: antiquewhite;
}